Repository YAPP-18th/Study_Algorithm_Team_3, pull requests merged in 2021-03, with the labels that each got.

#1 [level1] k번째
  Sort/KthNumber/jaeeun.py
  Sort/TheLargestNumber/jaeeun.md
Labels: sort

#2 [level2]가장 큰 수
  Sort/TheLargestNumber/jaeeun.py
Labels: sort

#4 [Level 2] H-Index
  Sort/H-Index/Suhyeon.py
  Sort/KthNumber/Suhyeon.py
  Sort/TheLargestNumber/Suhyeon.py
Labels: sort

#5 [Level1] KthNumber, [Level2]H-index, TheLargestNumber
  Sort/H-Index/woojung.py
  Sort/KthNumber/woojung.py
  Sort/TheLargestNumber/woojung.py
Labels: sort

#10 [Level 1] K번째 수 [Level 2] 가장 큰 수
  Sort/KthNumber/soyeon.py
  Sort/TheLargestNumber/soyeon.py
Labels: sort

#11 [level1] 체육복 [level2] 구명보트 [level2] 조이스틱
  Greedy/구명보트/jaeeun.md
  Greedy/조이스틱/jaeeun.md
  Greedy/체육복/jaeeun.md
  Sort/H-Index/jaeeun.md
Labels: Greedy

#12 Woojung2 [Level1]체육복, [Level2]조이스틱, [Level2]구명보트
  Greedy/구명보트/woojung.py
  Greedy/조이스틱/woojung.py
  Greedy/체육복/woojung.py
Labels: Greedy

#13 JoHyunWoo: [Level 1] 체육복, [Level 2] 구명보트, [Level 2] 조이스틱
  Greedy/구명보트/hyunwoo.py
  Greedy/조이스틱/hyunwoo.py
  Greedy/체육복/hyunwoo.py
Labels: Greedy

#15 Jungmin: 체육복, 구명보트, 조이스틱
  Greedy/구명보트/jungmin.py
  Greedy/조이스틱/jungmin.py
  Greedy/체육복/jungmin.py
Labels: Greedy

#16 Soyeon: [Level 1] 체육복, [Level 2] 구명보트, [Level 2] 조이스틱
  Greedy/구명보트/soyeon.py
  Greedy/조이스틱/soyeon.py
  Greedy/체육복/soyeon.py
  Hash/완주하지 못한 선수/soyeon.py
  Hash/위장/soyeon.py
  Hash/전화번호 목록/soyeon.py
Labels: Greedy

#17 Suhyeon: [Level 1] 체육복, [Level 2] 구명보트, [Level 2] 조이스틱
  Greedy/구명보트/Suhyeon.py
  Greedy/조이스틱/Suhyeon.py
  Greedy/체육복/Suhyeon.py
Labels: Greedy

#23 Soyeon: [Level1] 완주하지 못한 선수, [Level2] 위장, 전화번호 목록
  Hash/완주하지 못한 선수/soyeon.py
  Hash/위장/soyeon.py
  Hash/전화번호 목록/soyeon.py
Labels: Hash

#18 Woojung_Hash_[Level1]완주하지못한선수, [Level2]전화번호목록,위장
  Hash/완주하지 못한 선수/woojung.py
  Hash/위장/woojung.py
  Hash/전화번호 목록/woojung.py
Labels: Hash

#19 Hyunwoo: [Level 1] 완주하지 못한 선수, [Level 2] 위장, 전화번호 목록
  Hash/완주하지 못한 선수/hyunwoo.py
  Hash/위장/hyunwoo.py
  Hash/전화번호 목록/hyunwoo.py
Labels: Hash

#20 Suhyeon: [Level 1] 완주하지 못한 선수, [Level 2] 위장, 전화번호 목록
  Hash/완주하지 못한 선수/Suhyeon.py
  Hash/위장/Suhyeon.py
  Hash/전화번호 목록/Suhyeon.py
Labels: Hash

#22 Jungmin: [Level1] 완주하지 못한 선수, [Level2] 위장, 전화번호 목록
  Hash/완주하지 못한 선수/jungmin.py
  Hash/위장/jungmin.py
  Hash/전화번호 목록/jungmin.py
Labels: Hash
